.bim
{
	   
			            background-image: url('./image/FondSiteWeb.jpg');
			            
			            background-size: cover;
			            
			           /* Pour que je puisse positionner l'image au centre de l'Ã©cran */
			            background-position: center;
			           
			            background-repeat: no-repeat;
}